* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrap {
  width: 1100px;
  margin: 0 auto;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #F64D40;
  margin-right: 20px;
}

.title {
  font-family: Rubik;
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.buttons {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #B19B69;
  cursor: pointer;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
          box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
  border-radius: 40px;
  height: 40px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
}

.buttons:active {
  outline: none;
  color: #ffffff;
  background: #B19B69;
}

.buttons:focus {
  outline: none;
}

.header {
  height: 450px;
  background: url(../img/bg.png) no-repeat;
  background-size: cover;
  padding-top: 37px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu_item {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  margin-right: 40px;
  color: #fff;
}

.navbar-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-service_social {
  margin-left: 40px;
}

.navbar-service_tw {
  margin-right: 20px;
  margin-left: 20px;
}

.navbar-service_lang {
  margin-left: 40px;
}

.navbar-service_lang > a {
  text-decoration: none;
  color: #ffffff;
  font-family: Rubik;
  font-weight: 500;
  margin-right: 10px;
}

.navbar-service_lang > span {
  color: #fff;
  font-size: 17px;
}

.user {
  background-color: #fff;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-left: 40px;
}

.user_icon {
  display: inline-block;
  margin-left: 14px;
  margin-top: 12px;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 209px;
  color: #fff;
}

h1 {
  margin-top: 40px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 50px;
  color: #ffffff;
}

.access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 98px;
  margin-bottom: 100px;
}

.access-descr {
  width: 273px;
  margin-right: 68px;
}

.access-descr h2 {
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
}

.access-descr_item {
  font-family: Rubik;
  font-size: 12px;
  line-height: 20px;
}

.access-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 761px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.access-items_point {
  width: 175px;
  margin-right: 20px;
}

.access-items_point p {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-top: 19px;
}

.end {
  margin-right: 0;
}

.working {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFFFFF));
  background: linear-gradient(180deg, #F7F7F7 0%, #FFFFFF 100%);
  height: 630px;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.work-title p {
  font-family: Rubik;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.work-title span {
  margin-right: 19px;
  color: #F64D40;
  font-size: 20px;
}

.image {
  position: relative;
}

.image-text {
  position: absolute;
  top: 292px;
  left: 503px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.01em;
  z-index: 99;
}

.fund {
  position: absolute;
  top: 202px;
  width: 120px;
  height: 120px;
  left: 332px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.52%, #E3D1A0), to(#A79156));
  background: linear-gradient(180deg, #E3D1A0 0.52%, #A79156 100%);
  -webkit-box-shadow: 0px 15px 25px rgba(177, 155, 105, 0.4);
          box-shadow: 0px 15px 25px rgba(177, 155, 105, 0.4);
  border-radius: 100px;
  z-index: 10;
}

.fund img {
  margin-left: 51px;
  margin-top: 29px;
  margin-bottom: 6px;
}

.fund p {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 20px;
}

.project {
  position: absolute;
  top: 342px;
  width: 120px;
  height: 120px;
  left: 331px;
  background: -webkit-gradient(linear, left bottom, left top, from(#005EF3), to(#689EF4));
  background: linear-gradient(360deg, #005EF3 0%, #689EF4 100%);
  -webkit-box-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);
          box-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);
  border-radius: 100px;
  z-index: 10;
}

.project img {
  margin-left: 54px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.project p {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.circle {
  position: absolute;
  width: 598px;
  height: 598px;
  top: 33px;
  left: 341px;
  border-radius: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(rgba(243, 243, 243, 0)));
  background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
  z-index: 1;
}

.circle_item {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #B19B69;
  z-index: 11;
}

.circle_item_1 {
  left: 635px;
  top: 91px;
}

.circle_item_2 {
  left: 771px;
  top: 138px;
}

.circle_item_3 {
  left: 857px;
  top: 254px;
}

.circle_item_4 {
  left: 857px;
  top: 398px;
}

.circle_item_5 {
  left: 773px;
  top: 515px;
}

.circle-arrows {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
          box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
  border-radius: 40px;
  left: 626px;
  top: 541px;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-arrows_left {
  margin-right: 10px;
  cursor: pointer;
}

.circle-arrows_right {
  cursor: pointer;
}

.circle_text {
  position: absolute;
  font-family: Rubik;
  font-weight: normal;
  font-size: 12px;
  z-index: 25;
}

.circle_text_1 {
  left: 635px;
  top: 60px;
}

.circle_text_2 {
  left: 791px;
  top: 118px;
}

.circle_text_3 {
  left: 877px;
  top: 253px;
}

.circle_text_4 {
  left: 876px;
  top: 397px;
}

.circle_text_5 {
  left: 792px;
  top: 532px;
}

.circle-rotate {
  position: absolute;
  height: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: 620px;
  z-index: 12;
  top: 78px;
}

.circle-items {
  position: absolute;
  top: 98px;
  width: 468px;
  height: 468px;
  left: 406px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(rgba(243, 243, 243, 0)));
  background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
  border: 2px solid #EEEEEE;
  border-radius: 270px;
  z-index: 2;
}

.circle-earth {
  position: absolute;
  width: 407px;
  height: 407px;
  top: 128px;
  left: 437px;
  border-radius: 200px;
  background: url(../../img/Earth.png);
  z-index: 3;
}

.rotate0 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rotate36 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}

.rotate72 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}

.rotate108 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}

.rotate144 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}

.rotate180 {
  -webkit-transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.shadow36 {
  -webkit-box-shadow: -8px 10px 25px rgba(177, 155, 105, 0.3);
          box-shadow: -8px 10px 25px rgba(177, 155, 105, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shadow72 {
  -webkit-box-shadow: -18px 9px 25px rgba(177, 155, 105, 0.3);
          box-shadow: -18px 9px 25px rgba(177, 155, 105, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shadow108 {
  -webkit-box-shadow: -16px -11px 25px rgba(177, 155, 105, 0.3);
          box-shadow: -16px -11px 25px rgba(177, 155, 105, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shadow144 {
  -webkit-box-shadow: -14px -20px 25px rgba(177, 155, 105, 0.3);
          box-shadow: -14px -20px 25px rgba(177, 155, 105, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.shadow180 {
  -webkit-box-shadow: 0px -11px 25px rgba(177, 155, 105, 0.3);
          box-shadow: 0px -11px 25px rgba(177, 155, 105, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.support {
  background: #005EF3;
  padding-bottom: 80px;
}

.support-wrap {
  padding-top: 80px;
}

.support-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.support-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support-data_quotes {
  width: 30px;
  height: 60px;
}

.support-data_text {
  width: 761px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
}

.support-image_title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

.quotes_end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.quotes_img_end {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.team {
  padding-top: 100px;
  padding-bottom: 40px;
}

.team-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.team-items :nth-of-type(4n) {
  margin-right: 0;
}

.team-item {
  margin-right: calc((1100px - (224px * 4)) / 3);
  margin-bottom: 60px;
}

.team-item_photo img {
  border-radius: 10px;
}

.team-item_name {
  font-family: Rubik;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  margin-top: 28px;
}

.team-item_prof {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-top: 20px;
}

.team-item_contacts {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team-item_contacts a {
  display: block;
  margin-right: 20px;
}

.advisory {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 20px;
}

.partners {
  padding-top: 100px;
  padding-bottom: 100px;
}

.partners-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-line {
  width: 431px;
  height: 1px;
  background: #E5DECC;
}

.partners-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.partners-item {
  width: 223px;
  height: 125px;
  background: #005EF3;
  border-radius: 0px 10px 10px 10px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-item img {
  display: block;
}

.ambassador {
  height: 445px;
  background: url(../img/ambassador.png) no-repeat;
  background-size: cover;
  padding-top: 147px;
}

.ambassador h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.ambassador p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 52%;
  margin-top: 30px;
}

.ambassador_button {
  margin-top: 30px;
}

.documents {
  padding: 100px 0 100px 0;
}

.documents-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.documents-content p {
  margin-top: 40px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.01em;
}

.documents-content button {
  margin-top: 30px;
}

.documents-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.documents-item {
  width: 320px;
  -webkit-box-shadow: 0px 5px 10px #F3F3F3;
          box-shadow: 0px 5px 10px #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  margin-left: 70px;
  margin-bottom: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.documents-item_img {
  width: 30px;
  height: 30px;
  background: #005EF3;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-top: 5px;
}

.documents-item_text {
  width: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.documents_info {
  font-family: Rubik;
  font-weight: normal;
  font-size: 9px;
  line-height: 18px;
  color: #8C8D8F;
}

.documents_name {
  font-family: Rubik;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
}

.documents-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.help-main {
  height: 410px;
  background: url(../img/help.png) no-repeat;
  background-size: cover;
}

.help-main h3 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
}

.help-button {
  border-radius: 10px;
  border: none;
  width: 163px;
  height: 78px;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 94, 243, 0.5);
          box-shadow: 0px 10px 25px rgba(0, 94, 243, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(#6bccfa), to(#005ef3));
  background: linear-gradient(top, #6bccfa 0%, #005ef3 100%);
  font-family: Rubik;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  margin-bottom: -80px;
  cursor: pointer;
}

.help-button img {
  display: block;
  position: absolute;
  left: 50px;
  top: 0px;
}

.help-button:active {
  outline: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#6bccfa), to(#005ef3));
  background: linear-gradient(bottom, #6bccfa 0%, #005ef3 100%);
}

.help-button:focus {
  outline: none;
}

.help-container {
  height: 410px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.help-text {
  height: 130px;
  background: #F3F3F3;
  padding-top: 33px;
}

.help-text p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #7D7D7D;
  width: 50%;
}
/*# sourceMappingURL=style.css.map */