$orange: #F64D40

.point
    width: 10px
    height: 10px
    border-radius: 10px
    background: $orange
    margin-right: 20px

.title
    font-family: Rubik
    font-weight: bold
    font-size: 13px
    line-height: 23px
    letter-spacing: 0.05em
    text-transform: uppercase
    